<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/assets/img/logo_stis.png">
	<title>Data Fusion Sekar</title>
	<!-- Bootstrap core CSS -->
	<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="../static/assets/css/mediumish.css" rel="stylesheet">
	<!-- Chart JS Template -->
	 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="container">
		<!-- Begin Logo -->
		<a class="navbar-brand" href="index.html">
		<img src="../static/assets/img/logo_stis.png" alt="logo">
		</a>
		<!-- End Logo -->
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<!-- Begin Menu -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				<a class="nav-link" href="index.html">Main</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="fusion.html">Fusion</a>
				</li>
			</ul>
			<!-- End Menu -->
			<!-- Begin Search -->
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
			</form>
			<!-- End Search -->
		</div>
	</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin of Header Image -->
<section style="background-image: url('../static/assets/img/aerial-view-of-urban-landscape.jpg'); background-size: cover; background-position: center; position: relative; min-height: 95vh;">

    <!-- Semi transparent overlay -->
    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.6); z-index: 1;"></div>

    <!-- Research Title -->
    <div class="research-title d-flex align-items-center justify-content-start text-white text-start" style="position: relative; z-index: 2; min-height: 95vh; padding: 2rem;">
		<div class="col-md-10 col-lg-8 px-3 pt-5">
			<h1 class="display-4 mb-4" style="font-weight: 700; ">
				Kajian Pemanfaatan Data Engineering Multi-Source Remote Sensing dengan Data Fusion untuk Kawasan Perkotaan
			</h1>
			<p class="fs-6" style="font-weight: 500;">
				Putri Sekar Ayu (4SI1, 222112294)
			</p>
		</div>
	</div>

</section>
<!-- End of Header Image -->


<!-- Begin Article
================================================== -->
<div class="container px-5">
	<div class="row">

		<!-- Begin Post -->
		<div class="col-md-12 col-md-offset-2 col-xs-12">

			<!-- Begin Post Content -->
			<div class="article-post">

				<div class="city-introduction" style="padding-top: 1.5rem;">
					<h1 class="section-title"><b>Apa itu Kawasan Perkotaan?</b></h1>
					
					<figure style="text-align: center; margin: 1.5rem auto;">
						<img src="../static/assets/img/urban-introduction-photo.jpg" alt="Ilustrasi Perkotaan di Indonesia" style="width: 100%; max-width: 550px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem;">
							Gambar 1. Ilustrasi kawasan perkotaan di Indonesia
						</figcaption>
					</figure>

					<blockquote>
						Kawasan Perkotaan adalah wilayah yang mempunyai kegiatan utama bukan pertanian dengan susunan fungsi kawasan sebagai tempat permukiman perkotaan, pemusatan dan distribusi pelayanan jasa pemerintahan, pelayanan sosial, dan kegiatan ekonomi (PP Nomor 59 Tahun 2022 tentang Perkotaan)
					</blockquote>
					<p>
						Saat ini, <b>kawasan perkotaan</b> telah menjadi <b>tempat tinggal</b> bagi <b>mayoritas populasi penduduk</b> di Indonesia, dengan tren urbanisasi yang terus meningkat dalam beberapa tahun terakhir.
					</p>
					<div style="max-width: 600px; margin: 0 auto;">
						<p style="font-size: 15px; font-weight: bold;">Proyeksi Persentase Penduduk Indonesia yang Tinggal di Wilayah Perkotaan</p>
						<canvas id="urbanChart"></canvas>
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem;">
							Sumber: Badan Pusat Statistik
						</figcaption>
					</div>
					<br>
					<p>
						Selain itu, seiring dengan pesatnya laju urbanisasi, pada <b>tahun 2045</b> diperkirakan sebanyak <b>70 persen penduduk Indonesia</b>, atau sekitar 220 juta orang, akan tinggal di kota-kota besar dan kecil (Roberts et al., 2019).
					</p>
					<br>
					<div class="urban-sdgs">
						<h4><b>Urgensi Kawasan Perkotaan dalam SDGs</b></h4>
						<div class="urban-sdgs-content">
							<figure>
								<img src="../static/assets/img/sdgs-11-3.png" class="sdgs-image">
								<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
									Gambar 2. Target 11.3 SDGs
								</figcaption>
							</figure>
							<div class="sdgs-text">
								<p>
									Berdasarkan Tujuan 11 dari Sustainable Development Goals (SDGs), khususnya target 11.3 yang menyatakan:
								</p>
								<blockquote>
									“By 2030, enhance inclusive and sustainable urbanization and capacity for participatory, integrated and sustainable human settlement planning and management in all countries”
								</blockquote>
								<p>
									Sehingga diperlukan pemetaan wilayah perkotaan yang tepat agar perencanaan kota lebih terarah dan berkelanjutan sesuai dengan tujuan.
								</p>
							</div>
						</div>
						<p>
							Data geospasial, seperti <b>data hasil remote sensing</b>, berpotensi menjadi <b>sumber data yang efektif</b> untuk mendukung pencapaian tujuan tersebut, khususnya dalam <b>pemetaan dan klasifikasi wilayah perkotaan</b> (Roberts et al., 2019).	
						</p>
					</div>
				</div>

				<div class="data-fusion-introduction" style="padding-top: 2rem;">
					<h1 class="section-title" style="padding-bottom: 1.5rem;"><b>Pengenalan Pendekatan Multi-Source Remote Sensing Data Fusion</b></h1>
					<p>
						Remote sensing sendiri merujuk pada teknik untuk memperoleh informasi mengenai suatu objek menggunakan instrumen berupa sensor yang dipasang pada wahana (seperti satelit, pesawat, drone, dan lainnya) tanpa kontak langsung terhadap objek yang sedang diteliti (Lillesand & Kiefer, 2015). Satelit merupakan salah satu wahana yang sering dimanfaatkan dalam remote sensing dan produk yang dihasilkan dari teknik ini dikenal sebagai citra satelit. 
					</p>
					<p>
						Secara umum, sensor pada satelit terbagi menjadi dua jenis: pasif dan aktif. Sensor pasif tidak memancarkan energi sendiri, melainkan merekam pantulan sinar matahari atau emisi objek seperti termal. Sensor ini menghasilkan data spektral yang kaya, tetapi sensitif terhadap kondisi cuaca. Sementara itu, sensor aktif memancarkan energinya sendiri dan merekam pantulannya dari permukaan bumi, sehingga dapat digunakan kapan saja dan lebih tahan terhadap cuaca. Sensor ini unggul dalam pemantauan struktur objek dan topografi, meskipun data yang dihasilkan lebih terbatas secara spektral dan lebih sulit diinterpretasi. Pemilihan sensor tergantung pada kebutuhan dan karakteristik citra yang ingin diperoleh, karena sejatinya setiap sensor memiliki kegunaannya masing-masing. 
					</p>
					<p>
						Sebagai ilustrasi, berikut disajikan perbandingan visual antara dua jenis sensor yang sering digunakan dalam konteks citra satelit, yaitu sensor aktif <i>Synthetic Aperture Radar</i> dan sensor pasif optik. Kedua citra tersebut diambil di wilayah yang sama, yaitu Pulau Bali, pada tanggal 26 Oktober 2011 pukul 10.08 WIT.
					</p>
					<figure>
						<img src="../static/assets/img/Envisat vs MODIS.png" style="width: 100%; max-width: 550px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 3. Perbandingan antara (a) Citra SAR (Envisat) dan (b) Citra Optik (Terra MODIS). Gambar diadopsi dari Kushardono et al. (2016)
						</figcaption>
					</figure>
					<p>
						Berdasarkan ilustrasi tersebut, dapat diamati adanya trade-off dalam penggunaan masing-masing sensor. Citra satelit Synthetic Aperture Radar yang ditunjukkan pada gambar (a) mampu memberikan informasi struktur objek yang lebih detail dan tetap dapat merekam dengan jelas meskipun dalam kondisi cuaca buruk. Sebaliknya, citra satelit optik yang ditunjukkan pada gambar (b) memberikan detail visual yang lebih tajam, namun terganggu oleh kondisi cuaca, seperti awan.
					</p>
					<p>
						Lebih lanjut, berikut ini disajikan pula ilustrasi terkait penggunaan citra SAR dan Optik pada kawasan pertanian untuk Wilayah Perkotaan Yanjiang, Tiongkok. 
					</p>
					<figure>
						<img src="../static/assets/img/Optik vs SAR Airbone.png" style="width: 100%; max-width: 550px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 4. Perbandingan antara citra optik (kiri) dan citra SAR resolusi tinggi oleh sistem SAR airbone. Gambar diadaptasi dari Zhou et al. (2020)
						</figcaption>
					</figure>
					<p>
						Sebagaimana ilustrasi yang diadaptasi dari Zhou et al. (2020), membedakan objek dengan karakteristik spektral serupa pada citra optik menjadi tantangan karena respons spektralnya yang mirip. Sebaliknya, citra SAR mampu membedakan objek-objek tersebut dengan jelas berkat perbedaan nilai backscatter, meskipun interpretasi visualnya cukup sulit dilakukan.
					</p>
					<p>
						Keterbatasan masing-masing jenis sensor, sebagaimana dijelaskan sebelumnya, menunjukkan bahwa tidak ada satu sensor pun yang dapat menyediakan seluruh informasi secara akurat dan konsisten dalam berbagai kondisi pengamatan. Untuk memanfaatkan informasi komplementer dari berbagai sumber citra, diperlukan pengintegrasian data multisumber, yang sering disebut sebagai remote sensing image fusion atau lebih umum data fusion, guna menghasilkan citra yang lebih mudah diinterpretasi, kaya akan informasi dan lebih bermakna untuk digunakan pada proses analisis lanjutan (Pohl & van Genderen, 2016).
					</p>
					<p>
						Menurut Pohl dan van Genderen (1998), secara hierarkis Remote Sensing Image Fusion dapat dibagi ke dalam tiga level, yaitu level piksel, fitur (feature), dan keputusan (decision).
					</p>
					<figure>
						<img src="../static/assets/img/Pembagian Level RSIF.png" style="width: 100%; max-width: 550px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 5. Pembagian level Remote Sensing Image Fusion (Pohl & van Genderen, 1998)
						</figcaption>
					</figure>
					<p>
						Sebagaimana diilustrasikan, proses fusion citra berbeda pada setiap level. Berikut ini disajikan penjelasan untuk masing-masing level tersebut.
					</p>
					<ol>
						<li style="margin-bottom: 10px;">
							<strong>Level Piksel:</strong> Fusion dilakukan langsung terhadap dua atau lebih citra mentah dengan menggabungkan informasi pada tingkat piksel, sehingga menghasilkan citra gabungan yang mempertahankan informasi dari masing-masing sumber dan lebih fleksibel untuk berbagai jenis analisis.
						</li>
						<li style="margin-bottom: 10px;">
							<strong>Level Fitur:</strong> Fitur-fitur penting (tepi, bentuk, atau tekstur) diekstraksi terlebih dahulu dari masing-masing citra sumber, kemudian fitur-fitur tersebut digabungkan untuk membentuk feature map yang merepresentasikan informasi utama dari seluruh citra sumber. 
						<li style="margin-bottom: 10px;">
							<strong>Level Keputusan:</strong> Identifikasi atau klasifikasi dilakukan secara terpisah pada masing-masing citra sumber, kemudian hasil keputusan dari tiap proses identifikasi tersebut digabungkan untuk memperoleh keputusan akhir.
						</li>
					</ol>
					<p>
						Meskipun proses data fusion berpotensi menyebabkan hilangnya sebagian informasi dari citra sumber, hasil akhirnya justru memberikan nilai tambah melalui penyajian informasi yang lebih terpadu dan bermakna. Bahkan, data fusion dipandang sebagai salah satu solusi utama dalam mengoptimalkan ekstraksi informasi dari data penginderaan jauh (Zhang, 2010).
					</p>
				</div>
				
				<div class="urban-sensing-fusion" style="padding-top: 2rem;">
					<h1 class="section-title" style="padding-bottom: 1.5rem;"><b>Multi-Source Remote Sensing dengan Data Fusion untuk Kawasan Perkotaan</b></h1>
					<p>
						Kawasan perkotaan memiliki karakteristik yang kompleks, seperti kepadatan bangunan yang tinggi, keragaman penutup lahan, serta kedekatan antar objek, yang seringkali menyulitkan klasifikasi penggunaan lahan secara akurat (Aryal et al., 2023; Qian et al., 2020). Dalam konteks ini, penerapan data fusion menjadi sangat relevan karena memungkinkan integrasi informasi dari berbagai sumber citra, yang diharapkan dapat meningkatkan akurasi dan keandalan dalam analisis spasial wilayah perkotaan.
					</p>
					<p>
						Dalam konteks penerapan data fusion untuk wilayah perkotaan, kombinasi citra SAR (Synthetic Aperture Radar) dan citra optik sering digunakan karena masing-masing memiliki keunggulan yang dapat saling melengkapi. Penggabungan citra SAR dan optik melalui pendekatan pixel-level data fusion memungkinkan integrasi tekstur spasial dari citra SAR dengan informasi spektral dari citra optik, memberikan gambaran yang lebih akurat tentang wilayah perkotaan. Kombinasi ini meningkatkan interpretabilitas citra dan mempermudah ekstraksi fitur untuk klasifikasi penggunaan lahan perkotaan.
					</p>
					<p>
						Selanjutnya, penelitian ini difokuskan pada eksplorasi pemanfaatan pixel-level data fusion antara citra satelit SAR dan optik resolusi menengah untuk mengkaji potensi data fusion di kawasan perkotaan. 
					</p>
					<h4><b>Sumber Data dan Lokasi Penelitian</b></h4>
					<figure>
						<img src="../static/assets/img/Peta Jambi Menurut S2.png" style="width: 100%; max-width: 550px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 6. Wilayah Perkotaan Jambi dalam Sentinel-2 Tahun 2021
						</figcaption>
					</figure>
					<p>
						Kombinasi Band yang dipilih untuk penelitian ini adalah band VV Polarization yang digunakan dari produk Sentinel-1 Level GRD dengan polarimetri IW, dan band Sentinel-2 dengan true band color RGB. Keduanya merupakan band yang diambil pada level resolusi spasial menengah, 10m. Adapun lokasi studi yang dipilih adalah Kota Jambi, Indonesia, yang memiliki karakteristik tutupan lahan yang beragam, sehingga dinilai relevan sebagai lokus penelitian ini.
					</p>
					<h4><b>Kerangka Pikir Penelitian</b></h4>
					<figure>
						<img src="../static/assets/img/Kerangka Penelitian Sekar.png" style="width: 100%; max-width: 1000px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 7. Kerangka Pikir Penelitian
						</figcaption>
					</figure>
					<p>
						Dibawah ini disajikan hasil dari masing-masing tujuan penelitian yang diajukan.
					</p>
					<h4><b>Pembangunan Framework Urban Sensing Fusion untuk multi-source remote sensing data fusion level piksel pada citra satelit SAR Sentinel-1 dan citra satelit optik Sentinel-2</b></h4>
					<p>
						Penelitian ini mengikuti prinsip remote sensing image fusion, yang merupakan pengembangan dari kerangka multi-source data fusion yang dispesifikan pada input data berupa citra satelit. Untuk memastikan alur penelitian yang konsisten dan terstandar, dikembangkan sebuah framework bernama Urban Sensing Fusion. Framework ini mencakup kerangka tahap akuisisi data, pre-processing, pixel level image fusion, hingga klasifikasi wilayah perkotaan. Berikut disajikan rancangan framework yang dibangun. 
					</p>
					<figure>
						<img src="../static/assets/img/urban-sensing-framework.png" style="width: 100%; max-width: 1000px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 8. Rancangan Framework yang Diusulkan (Urban Sensing Fusion Framework)
						</figcaption>
					</figure>
					<p>
						Adapun nama framework yang diusulkan adalah <b>Urban Sensing Fusion</b>. Secara umum, framework ini menyajikan tahapan lengkap dalam kajian pemanfaatan multi-source remote sensing data fusion pada kawasan perkotaan. Proses diawali dengan tahap pre-processing data input, yaitu citra Sentinel-1 Level GRD dengan polarisasi VV dan citra Sentinel-2 pada band RGB. Kajian selanjutnya dibagi menjadi dua skenario wilayah, yaitu wilayah homogen dan heterogen. Pada masing-masing wilayah, dilakukan analisis mendalam untuk mengevaluasi penerapan pixel-level data fusion menggunakan beberapa metode, seperti Brovey, Intensity-Hue-Saturation (IHS), Principal Component Substitution, dan Gram-Schmidt. 
					</p>
					<p>
						Selanjutnya, hasil analisis dan penerapan best practice pada masing-masing wilayah digunakan sebagai dasar penerapan pada skala kawasan perkotaan secara keseluruhan. Pada tahap ini, dilakukan klasifikasi tutupan lahan perkotaan untuk mengevaluasi potensi pemanfaatan data fusion secara lebih komprehensif.
					</p>
					<br>

					<h4><b>Implementasi Framework Urban Sensing Fusion untuk citra satelit kawasan perkotaan di Kota Jambi </b></h4>
					<p>
						Berikut ini disajikan gambaran skenario untuk implementasi framework yang diusulkan pada kawasan perkotaan Kota Jambi. 
					</p>
					<figure>
						<img src="../static/assets/img/skenario-percobaan-fusion.png" style="width: 100%; max-width: 1000px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 9. Skenario Implementasi Urban Sensing Fusion pada Wilayah Perkotaan Kota Jambi
						</figcaption>
					</figure>
					<p>
						Berdasarkan kerangka skenario yang telah diberikan, berikut merupakan hasil dari implementasi untuk masing-masing jenis wilayah.
					</p>
					<p>
						<b>1. Implementasi Urban Sensing Fusion pada Kawasan Perkotaan Homogen</b>
					</p>
					<figure>
						<img src="../static/assets/img/fusion-wilayah-homogen.png" style="width: 100%; max-width: 1000px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 10. Citra Hasil Urban Sensing Fusion untuk Wilayah Perkotaan Homogen
						</figcaption>
					</figure>
					<p>
						Pada kawasan perkotaan homogen, didapatkan bahwa hasil dari metode Urban Sensing Fusion PCS, Urban Sensing Fusion IHS, dan Urban Sensing Fusion Gram-Schmidt, memberikan representasi visual yang mirip. Sebaliknya, pada metode Urban Sensing Brovey¸ terjadi kecenderungan distorsi spektral yang lebih tinggi terhadap citra Sentinel-2. Meskipun begitu, hasil citra dari tiap metode menunjukkan konsistensi dalam pola penyajian spektral untuk objek dua objek perkotaan dengan nilai spektral yang mirip sebagaimana ditunjukkan berikut. 
					</p>
					<figure>
						<img src="assets/img/identifikasi-visual-homogen.png" style="width: 70%; max-width: 600px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 11. Identifikasi Visual pada Kawasan Perkotaan Homogen
						</figcaption>
					</figure>
					<p>
						Pada Gambar 11, dapat dilihat adanya keberadaan dari dua tutupan lahan berbeda yang terletak berdekatan dan memiliki nilai spektral yang cenderung mirip. Notasi merah merujuk pada lapangan golf, yang dalam penelitian ini diikutsertakan sebagai built-up area. Sedangkan itu, notasi oranye menunjukkan tutupan lahan vegetasi. Hal ini dapat menyebabkan adanya potensi misklasifikasi. Dengan menggunakan citra hasil fusion, perbedaan warna antar kedua tutupan lahan lebih terlihat dengan jelas, terutama pada metode Urban Sensing Brovey, dimana vegetasi dicirikan dengan warna piksel hijau yang lebih terang dan kontras sedangkan lapangan golf lebih gelap. 
					</p>
					
					<p>
						<b>2. Implementasi Urban Sensing Fusion pada Kawasan Perkotaan Heterogen</b>
					</p>
					<figure>
						<img src="../static/assets/img/fusion-wilayah-heterogen.png" style="width: 100%; max-width: 1000px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 12. Citra Hasil Urban Sensing Fusion untuk Wilayah Perkotaan Heterogen
						</figcaption>
					</figure>
					<p>
						Pada kawasan heterogen, perbandingan performa untuk tiap citra dari hasil metode Urban Sensing Fusion lebih terlihat. Metode Urban Sensing Fusion PCS dan Urban Sensing Fusion Gram-Schmidt cenderung mirip satu sama lain. Sedangkan metode Urban Sensing Fusion Brovey kembali memberikan hasil representasi visual dengan perbedaan nilai spektral yang jauh dengan citra Sentinel-2. Lebih lanjut, terdapat perbedaan dari cara metode Urban Sensing Fusion IHS menggabungkan dan merepresentasikan nilai untuk kawasan sungai. Metode ini cenderung mengembalikan warna piksel yang lebih terang. 
					</p>
					<p>
						Lebih lanjut, disajikan hasil identifikasi visual untuk objek pada kawasan perkotaan heterogen sebagai berikut.
					</p>
					<figure>
						<img src="../static/assets/img/identifikasi-visual-heterogen.png" style="width: 70%; max-width: 900px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 13. Identifikasi Visual pada Kawasan Perkotaan Heterogen
						</figcaption>
					</figure>
					<p>
						Ditinjau dari citra Sentinel-2 (kiri), dapat dilihat untuk dua kelas tersebut memiliki nilai piksel yang sangat mirip. Sedangkan apabila dilihat dari gambar ground truth, subset wilayah yang terpilih merupakan gabungan dari tutupan lahan danau dan vegetasi yang saling berdekatan dan tampak bersebelahan di citra satelit. Dengan nilai yang hampir mirip, sesuai dengan skenario sebelumnya, hal ini berpotensi menyebabkan adanya misklasifikasi. Apabila diidentifikasi dari luas danau yang cukup besar, potensi misklasifikasi pada kelas ini dapat menurunkan performa metode klasifikasi secara signifikan. 
					</p>
					<p>
						Di sisi lain, dengan perbedaan nilai backscatter antara wilayah perairan dan vegetasi atau tanah datar, kombinasi nilai backscatter dan spektral mampu memberikan representasi yang berbeda pada dua tutupan lahan yang cenderung mirip bila ditinjau dari citra optik. Hal ini sejalan terjadi pada keempat metode Urban Sensing Fusion, dimana representasi danau menjadi lebih gelap dan dapat terdiferensiasi dengan vegetasi yang berwarna cenderung kehijauan. 
					</p>

					<p>
						<b>3. Klasifikasi kawasan perkotaan Kota Jambi dengan menggunakan multi-source remote sensing data fusion dan machine learning</b>
					</p>
					<p>
						Pada penelitian ini, dilakukan pixel-level fusion untuk wilayah perkotaan Jambi dengan tahapan sebagai berikut.
					</p>
					<figure>
						<img src="../static/assets/img/fusion-level-perkotaan.png" style="width: 70%; max-width: 900px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 14. Citra Hasil Urban Sensing Fusion untuk Level Kota Jambi
						</figcaption>
					</figure>
					<p>
						Citra hasil fusion pada level perkotaan kemudian akan dijadikan sebagai input untuk klasifikasi tutupan lahan yang dilakukan seperti berikut ini.
					</p>
					<figure>
						<img src="../static/assets/img/hasil-klasifikasi.png" style="width: 70%; max-width: 900px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 15. Perbandingan Peta Klasifikasi Tutupan Lahan Kota Jambi dengan Citra Urban Sensing Fusion
						</figcaption>
					</figure>
					<p>
						Hasil secara umum menunjukkan bahwa pengklasifikasian wilayah perkotaan dengan memanfaatkan citra Urban Sensing Fusion memberikan hasil yang cukup menjanjikan. Apabila ditelaah secara umum, untuk kelas-kelas mayoritas pada Kota Jambi dapat terklasifikasikan dengan baik. Berikut disajikan perbandingan metriks evaluasi untuk tiap-tiap citra input dan perbandingannya dengan data citra Sentinel-2.
					</p>
					<figure>
						<img src="../static/assets/img/evaluasi-hasil-klasifikasi.png" style="width: 70%; max-width: 900px; display: block; margin: 0 auto;">
						<figcaption style="font-size: 12px; color: #555; margin-top: 0.5rem; text-align: center;">
							Gambar 16. Perbandingan Perfoma Hasil Klasifikasi Tutupan Lahan Wilayah Perkotaan Jambi
						</figcaption>
					</figure>
					<p>
						Secara umum, penggunaan citra Urban Sensing Fusion Brovey mampu memberikan peningkatan pada angka evaluasi untuk pengklasifikasian kawasan perkotaan Kota Jambi dengan karakteristik tutupan lahan yang beragam. Dalam training set yang sama, bahkan citra tersebut mampu bersaing dengan citra Sentinel-2. 
					</p>
				</div>

				<div class="closing">
					<h1 class="section-title" style="padding-bottom: 1.5rem;"><b>Kesimpulan</b></h1>
					<p>
						Berdasarkan hasil identifikasi visual pada masing-masing jenis wilayah, dapat disimpulkan bahwa Urban Sensing Fusion memberikan keunggulan dari segi interpretabilitas objek. Keunggulan ini sangat bermanfaat, terutama dalam membedakan objek pada wilayah kompleks seperti kawasan perkotaan. Selain itu, citra hasil fusion terbukti mampu meningkatkan performa evaluasi klasifikasi, yang ditunjukkan melalui peningkatan nilai akurasi, F1-score, precision, dan recall pada wilayah perkotaan. Pada skala perkotaan, klasifikasi tutupan lahan menggunakan metode Urban Sensing Fusion Brovey menghasilkan performa yang lebih baik dibandingkan penggunaan citra Sentinel-2, dengan akurasi sebesar 86,79%, F1-score 86,96%, precision 87,44%, dan recall 86,66%.
					</p>
					<p>
						Selain itu, berdasarkan hasil penerapannya, dapat dikatakan bahwa rancangan Framework Urban Sensing Fusion memiliki potensi besar untuk dikembangkan menjadi kerangka kerja dalam mengidentifikasi best practice dari penerapan data fusion  di kawasan perkotaan. 
					</p>
					<p>
						Selanjutnya, diperlukan adanya eksplorasi lanjutan dan uji coba untuk parameter-parameter yang ada pada metode fusion untuk memperoleh pengembangan metode yang lebih baik. Serta diperlukan pemilihan training sample untuk kelas pada wilayah perkotaan yang lebih seimbang, tahapan post-processing lanjutan untuk tiap citra hasil fusi guna mendapatkan kualitas input metode klasifikasi yang lebih baik seperti image filtering, serta penggunaan metode klasifikasi yang lebih advanced, terutama metode yang lebih baik untuk penanganan kelas tidak seimbang. 
					</p>
				</div>
			</div>
			<!-- End Post Content -->

			<!-- Begin Tags -->
			<div class="after-post-tags">
				<ul class="tags">
					<li><a href="#">Data Fusion</a></li>
					<li><a href="#">Sar-Optical Fusion</a></li>
					<li><a href="#">Sentinel-1</a></li>
					<li><a href="#">Sentinel-2</a></li>
					<li><a href="#">Urban Remote Sensing</a></li>
				</ul>
			</div>
			<!-- End Tags -->

		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>

<!-- Begin Footer
================================================== -->
<div class="container">
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2025 Putri Sekar Ayu
		</p>
		<p class="pull-right">
			 Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/mediumish.js"></script>
<script>
	const ctx = document.getElementById('urbanChart').getContext('2d');
	const urbanChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: ['2020', '2025', '2030', '2035'],
			datasets: [{
				label: 'Persentase Urbanisasi (%)',
				data: [56.7, 60.0, 63.4, 66.8], // 2045 masih kosong
				borderColor: '#ff6600',
				backgroundColor: '#ff6600',
				fill: false,
				tension: 0.3,
				pointRadius: [5, 5, 5, 5, 7],
				pointBackgroundColor: ['#ff6600', '#ff6600', '#ff6600', '#ff6600'],
				pointHoverRadius: 7
			}]
		},
		options: {
			scales: {
				y: {
					suggestedMin: 55,
					suggestedMax: 70,
					title: {
						display: true,
						text: 'Persentase (%)'
					}
				},
				x: {
					title: {
						display: true,
						text: 'Tahun'
					}
				}
			},
			plugins: {
				// title: {
				// 	display: true,
				// 	text: 'Proyeksi Persentase Penduduk Indonesia yang Tinggal di Wilayah Perkotaan (2020-2035)'
				// },
				tooltip: {
					callbacks: {
						label: function(context) {
							const val = context.raw;
							return val ? val + '%' : 'Belum tersedia';
						}
					}
				},
				legend: {
					position: 'bottom' // Memindahkan label dataset ke bawah
				}
			}
		}
	});
</script>
</body>
</html>
